#myCanvas
{
    border: 2px solid black;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

#ui
{
    display: flex;
    justify-content: space-between;

}

#score
{
    font-size: 30px;


}


#middle
{
    text-align: center;

}

.color_buttons
{
    width: 50px;
    height: 50px;


}

.color_buttons:hover
{
    border: 5px solid white;
    border-style: double;

}

.red
{
    background-color: red;
    color: red;

}

.green
{
    background-color: green;
    color: green;

}

.blue
{
    background-color: blue;
    color: blue;

}

